<span class="title">Proficiencies</span>
<div>
	<span class="title">Saves</span>
	{{content-editable value=char.profs.saves}}
</div>
<div>
	<span class="title">Armor</span>
	{{content-editable value=char.profs.armor}}
</div>
<div>
	<span class="title">Weapons</span>
	{{content-editable value=char.profs.weapons}}
</div>
<div>
	<span class="title">Tools</span>
	{{content-editable value=char.profs.tools}}
</div>
