{{#each stats as |prop|}}
	<div class="prop">
		{{content-editable value=prop.label classNames="label" tagName="span"}}
		{{content-editable value=prop.value classNames="value" tagName="span"}}
		<span class="round-button delete" title="remove stat" {{action "deleteProp" prop}}>
			<i class="fa fa-times"></i>
		</span>
	</div>
{{/each}}
<div class="round-button create" title="new stat" {{action "createProp" prop}}>
	<i class="fa fa-plus"></i>
</div>


