<table border="0" cellspacing="0" cellpadding="0" class="comparison">
	<thead>
		<tr>
			<th></th>
			{{#each characters as |char|}}
				<th  {{action "unlinkCharacter" char}}>{{char.name}}</th>
			{{/each}}
		</tr>
	</thead>
	<tbody>
		{{#each properties as |prop|}}
			<tr>
				<td><span class="tagname">{{prop.name}}</span></td>
				{{#each characters as |char|}}
					<td><span class="value">{{get char prop.value}}</span></td>
				{{/each}}
			</tr>
		{{/each}}
	</tbody>
</table>

