@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

$darkhighlight: #353535;
$lighthighlight: #EAEAEA;
body {
		margin: 0;
}

.loading {
  font-size: 84px;
  margin: 40px;
  text-align: center;
}
.open-button {
		display: none;
    margin-top: 8px;
    font-size: 24px;
}
.wrapper {
    padding-top: 60px;
		width: 960px;
		margin: 0 auto;
}
.ember-modal-dialog {
		position: relative;
		width: 70%;
		max-width: 960px;
		margin-top: 0 !important;
		top: 10% !important;
		border-radius: 0;
}

.round-button {
		background-color: black;   color: white;   border-radius: 200px;   
		width: 25px;   
		height: 25px;   
		line-height: 25px;
		display: inline-block;
		text-align: center;
		font-family: arial;
		font-weight: bold;
		font-size: 16px;
		position: relative;
		top: -2px;
		padding: 0;
		cursor: hand;
		cursor: pointer;
		.fa-sort-down {
				top: -3px;
				position: relative;
		}

		.fa-sort-up {
				position: relative;
				top: 4px;
		}
}
.round-button:hover {
		background-color: $darkhighlight;
}

.character {
    position: relative;

		.controls {
				position: absolute;
				top: 50px;
				right: 0;
				z-index: 100;

				display:none;

				.save, .delete {
						background-color: black;
						color: white;
						width: 30px;
						height: 30px;
						position: relative;
						margin: 10px;
						display: inline-block;
						border-radius: 60px;
						text-align: center;
						line-height: 30px;
				}
		}

		.image input {
		    display: none;
		}
		.figure {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
		}

		h1.title {
				display: none;
		}
		table {
				font-family: arial;
				border: none;
		}
		table * {
				border: none;
		}
		body {
				font-family: 'Gentium Basic', serif;
		}
		span.section-number-3, span.section-number-2, span.section-number-1, span.section-number-4 {
				display: none;
		}
		p {
				margin: 0;
		}
		div#table-of-contents {
				display: none;
		}

		.no-title > *:first-child {
				display: none;
		}

		div#content {
				width: 960px;
				margin: 0 auto;
				position:relative;
		}

		.image {
				cursor: hand;
				cursor: pointer;
				width: 350px;
				height: 466px;
				position: absolute;
				top: 10px;
				right: 0;
				overflow: hidden;
		}
		.image p {
				width: 100%;
				height: 100%;
		}
		.image img {
				width: 100%;
		}
		.level, .prof-bonus {
				font-size: 50px;
				position: absolute;
				top: 0px;
				left: 437px;
				width: 80px;
				height: 80px;
				text-align: center;
				overflow:hidden;
		}
		.level {
				top: 28px;
				z-index: 10;
		}
		.level > * {
				position:relative;
				top: 12px;
		}

		.prof-bonus {
				border: solid 6px black;
				border-radius: 100px;
				z-index: 10000;
				background-color: black;
				top: 350px;
				width: 120px;
				height: 120px;
				font-size: 45px;
		}
		.prof-bonus > *:first-child {
				display: block !important;
				position: absolute;
				top: -1px;
				margin: 0;
				background-color: black;
				color: white;
				font-size: 13px;
				width: 100%;
				padding: 15px 10px;
				box-sizing: border-box;
				left: 0;
				-moz-box-sizing: border-box;
				padding-bottom: 5px;
		}
		.prof-bonus .value {
				background-color: white;
				z-index: 0;
				padding-top: 43px;
				margin-top: 10px;
				padding-bottom: 40px;
				display:block;
		}

		.level table, .level tr, .level td, .level tbody, .level th, .level colgroup, .prof-bonus table, .prof-bonus tr, .prof-bonus td, .prof-bonus tbody, .prof-bonus th, .prof-bonus colgroup, .stats table, .stats tr, .stats td, .stats tbody, .stats th, .stats colgroup {
				border: none;
				border-left: none;
				border-right: none;
				display:block;
		}
		.level table, .level tr, .level td, .level tbody, .level th, .level colgroup, .prof-bonus table, .prof-bonus tr, .prof-bonus td, .prof-bonus tbody, .prof-bonus th, .prof-bonus colgroup {
				text-align:center;
		}

		.level table, .prof-bonus {
				border-collapse: collapse;
		}

		.name > *, .class > * {
				font-family: 'Cinzel Decorative', cursive;     
		}
		.name {
				font-weight: bold;
				font-size: 1.5em;
				margin-bottom: 0.5em;
		}
		.class {
				margin-bottom: 1em;
		}
		.stats {
				width: 450px;
				text-align: justify;
				span.label {
						font-weight: bold;
				}

				span.label:after {
						content: ":";
				}

				.prop {
						display:inline-block;
				}		
				.prop:hover {
						.delete {
								display:inline-block;
						}
				}
				.create {
						margin: 10px 0;
				}

				.prop:first-child {
						display: block;
				}
				.round-button {
						display: none;
				}

		}
		.stats:hover {
				.create {
						display:block;
				}
		}

		.abilities {
    		background-color: black;
     		width: 100%;
   	  	left: 0;
				font-size: 24px;
				font-weight: bold;
				font-family: arial;
		}

		.abilities table {
				margin: 0 auto;
				background-color: black;
				border-color: black;
				color: white;
		}

		.abilities table th, .abilities table td {
				padding: 5px 0px;
				text-align: center;
		}
		.abilities table tr {
				display: block
		}
		.abilities table tr > * {
				display:inline-block;
				width: 90px;
				margin: 5px;
		}
		.abilities table tr td, .abilities table tr td {
				background-color: white;
				color: black;
		}
		.abilities table tr:nth-child(2) td {
				background-color: black;
				color: white;
				padding:0;
				text-align:center;
		}
		.abilities table tr:nth-child(2) td:after {
				content: "\25BC";
				top: -15px;
				left: -2px;
				position: relative;
				font-size: 22px;
		}
		.abilities table tbody tr:nth-child(1), .abilities table tbody tr:nth-child(3) {
				margin-bottom: 3px;
		}
		.abilities tr:nth-child(2) {
				height: 14px;
		}

		.abilities table tr:nth-child(1) td {
				margin-right: -2.5px;
				margin-left: 5.5px;
		}
		.notes textarea {
				width: 100%;
				height: 118px;
				resize: none;
				margin-bottom: 10px;
		}

		.abilities table tr:nth-child(3) td {
  		width: 38px;
	  	margin-left: 28px;
  		margin-right: 34px;
  		border-radius: 100px;
  		border: solid 0px black;
  		font-weight: lighter;
		}

		.surv {
				position:relative;
				width: 520px;
		}
		.abilities th {
				text-transform: uppercase;
		}

		.life, .defenses {
				top: 0px;
				background-color: white;
				color: black;
				border: solid 6px black;
				display: inline-block;
				position: absolute;

		}

		.life table, .defenses table {
				width: 100%;
		}
		.initiative, .perception {
				width: 171px; 
				height: 60px;
				position: absolute;
				z-index: 0;
				border: solid black 6px;
				text-align:center;
				line-height: 60px;
				right: 0px;
				font-size: 30px;
				top: 92px;
				background-color: white;
		}
		.perception {
				width: 134px;
		}

		.perception:after, .initiative:after {
				position: absolute;
				bottom: 5px;
				z-index: 100;
				top: auto !important;
		}

		.initiative {
				left: 0px;
		}


		.perception {
				left: auto;
				right: 0px;
		}

		.perception > *:first-child, .initiative > *:first-child {
				display: block !important;
				background-color: black;
				color: white;
				top: 0px;
				position: relative;
				margin: 0;
				padding: 0 30px;
				font-size: 19px;
		}

		.initiative > *:first-child {
				text-align: right;
				padding: 0 42px;
				z-index: 100;
		}
		.notes > div:nth-child(2) {
				height: 170px;
		}
		.notes.editing > div:nth-child(2) {
				display: none;
		}
		.char-kpis {
				position:relative;
				margin-bottom: 30px;
    }		
		.title {
				font-size:26px;
				font-weight: bold;
				display:block;
		}
		.notes .title {
				margin: 1em 0;
		}

		.left-side, .right-side {
				display: inline-block;
				width: 470px;
				vertical-align: top;
		}
		.right-side {
				position: relative;
				right: -20px;
		}
		.right-side > div * > .title {
				text-align: right;
				padding-right: 50px;
				padding-left: 5px !important;
		}
		.life {
				left: auto;
				right: 0px;
		}
		.defenses {
				left: 0px;
				width: 171px;
		}
		.life table td:first-child {
				background-color: black;
				color: white;
				font-weight: bold;
				width: 25px;
				font-size: 16px !important;
		}
		.life table td {
				width: 55px;
		}

		.life table, .defenses table {
				font-family: 'Gentium Basic', serif;
		}

		.life *, .defenses * {
				border: none;
				text-align: center !important;
		}

		.life tr:nth-child(2), .defenses table tr:nth-child(even) {
				font-size: 10px;
		}
		.life tr:nth-child(2) td, .defenses table tr:nth-child(even) td {
				padding: 0 !important;
				padding-bottom: 0 !important;
				font-size: 10px !important;
		}
		.life table tr:first-child td {
				padding-bottom: 0;
				font-size: 22px;
		}

		.spells > .spell-slots > *:first-child {
				float:none;
		}

		.spells > div > *, .feats > div > *, .traits > div > * {
				font-size: 14px;
		}

		.left-side > div > * > .title, .right-side > div > * > .title {
				color: white;
				background-color: black;
				margin: 0;
				padding-left: 50px;
				font-size: 18px;
				font-weight: bold;
		}
		.left-side > div .title:after, .right-side > div .title:after, .life:after, .defenses:after, .perception:after, .initiative:after {
				height: 50px;
				width: 50px;
				display: block;
				position: absolute;
				content: ".";
				color: transparent;
				background-image: url(/assets/images/charsheets/feats.png);
				background-size: 100% 100%;
				left: -20px;
				top: -12px;
		}
		.life:after, .defenses:after {
				left: -28px;
				top: 18px;
				right: -28px;
		}
		.life:after {
				right: -28px;
				left:  auto;
				background-image: url(/assets/images/charsheets/heart.png) !important;
		}
		.defenses:after {
				background-image: url(/assets/images/charsheets/shield.png) !important;
		}
		.initiative:after {
				left: -28px;
				right: auto;
				background-image: url(/assets/images/charsheets/initiative.png) !important;
		}
		.perception:after {
				left: auto;
				right: -28px;
				background-image: url(/assets/images/charsheets/perception.png) !important;
		}

		.right-side > div .title:after {
				left: auto !important;
				right: -20px !important;
		}
		div > div.wealth .title:after {
				background-image: url(/assets/images/charsheets/gold.png);
		}
		div > div.profs .title:after {
				background-image: url(/assets/images/charsheets/prof.png);
		}
		div > div.spells .title:after {
				background-image: url(/assets/images/charsheets/spells.png);
		}
		div > div.feats .title:after {
				background-image: url(/assets/images/charsheets/feats.png);
		}
		div > div.description .title:after {
				background-image: url(/assets/images/charsheets/description.png);
		}
		div > div.traits .title:after {
				background-image: url(/assets/images/charsheets/character.png);
		}
		div > div.attacks .title:after {
				background-image: url(/assets/images/charsheets/attacks.png);
		}
		div > div.gear .title:after {
				background-image: url(/assets/images/charsheets/wealth.png);
		}
		div > div.skills .title:after {
				background-image: url(/assets/images/charsheets/skills.png);
		}

		.block-controls {
				position: absolute;
				top: 3px;
				right: 3px;
				display:none;
		}
		
		div:hover > .block-controls {
				display:block;
		}
		

		.right-side .block-controls {
				right: auto;
				left: 3px;
		}

		.block-controls > * {
				border: solid 1px white;
		}

		.block-controls > *:hover {
				background-color: $darkhighlight;
		}

		.left-side > div, .right-side > div{
				border: solid 3px black;
				position:relative;
				page-break-inside: avoid;
		}

		.left-side .char-block > *, .right-side .char-block > * {
				padding: 5px;
		}

		.attacks {
				table {
						width: 100%;
						font-family: 'Gentium', serif;
						border: none;
				}

				table thead tr:first-child {
						font-size: 12px;
						text-transform: uppercase;
				}

				table * {
						border: none;
				}
				td.delete {
						display:none;
						right: -20px;
						position: absolute;
				}
				.create {
						display:none;
						left: 50%;
				}
		}
		.attacks tr:hover {
				td.delete {
						display:table-cell;
				}
		}
		.attacks:hover {
				.create {
						display:block;
				}
		}
		.profs > div:nth-child(2), .wealth > div:nth-child(2) {
		    padding-top: 10px !important;
		}
		.profs > div > *:first-child {
				margin: 0;
		}

		.profs > div > *:first-child:after {
				content: ":";
		}
		.gear table {
				width:  100%;
		}

		.gear table:first-child tr:hover td:last-child {
				display: table-cell;
		}
		.gear table:first-child td:last-child, .gear table:first-child th:last-child {
				display: none;
				position: absolute;
				right: -18px;
		}
		.gear .create {
				display:none;
				left: 50%;
		}
		.gear:hover .create {
				display:inline-block;
		}

		.gear table th {
				text-align: left;
		}
		.gear table:nth-child(2) {
				margin-top: 1em;
		}

		.gear table:nth-child(2) td:after {
				content: " lb.";
		}
		.defenses tr:nth-child(odd) td {
				font-size: 22px;
				padding-bottom: 0;
		}

		.perception p, .initiative p {
				padding: 10px 60px;
				background-color: white;
				font-size: 24px;
				padding: 5px;
				width: 100%;
				text-align: center;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
		}
		.spells table td:first-child {
				background-color: black;
				color: white;
		}

		.spells table * {
				border: solid 1px black;
		}

		.spells table {
				width:  100%;
		}
		.notes {
		    position: relative;
    		width: 450px;
		}
		.name {
				background-image: url('/assets/images/charsheets/title.png');
				background-size: 100% 100%;
				height: 117px;
				width: 634px;
				margin-left: -110px;
		}
		.name > * {
				position: relative;
				top: 54px;
				left: 126px;
				width: 415px;
		}

		.description p {
				font-style: italic;
		}
		.description {
				min-height: 200px;
		}
		.level, .prof-bonus .value {
				font-family: 'Cinzel Decorative', cursive;
				font-weight: bold;
				height: 80px;
				line-height: 100%;
		}
		.gear table {
				font-family: 'Gentium Basic', serif;
				font-size: 14px;

				td:nth-child(1) input {
						max-width: 15em;
				}
				td:nth-child(2) input, td:nth-child(3) input {
						max-width: 4em;
				}
				td:nth-child(4) input {
						max-width: 9em;
				}				
		}
		.gear table td {
				padding: 0 5px;
		}

		.char-block {
				h1 {
						display: block;
						margin: 0;
						font-size: 1em;
				}

				p {
						display: block;
						margin-bottom: 0.5em;
				}

				h1:after {
						content: ":";
						padding-right: 0.3em;
				}

				textarea {
						width: 97%;
						box-sizing: border-box;
						margin: 5px;
						min-height: 300px;
				}
		}
		div > .editbutton {
						display:none;
		}
		div:hover > .editbutton {
						display:block
		}

		span.editbutton {
				width: 0;
				height: 0;
				color: transparent;
				margin: 0;
				padding: 0 !important;
		}
		span.editbutton:after {
				width: 30px;
				height: 30px;
				background-image: url("/assets/images/charsheets/description.png");
				content: "";
				position: absolute;
				top: -3px;
				right: 0px;
				background-size: 100% 100%;
				margin-right: 1px;
		}
		.right-side {
				span.editbutton:after {
						right: auto;
						left: 0px;
						margin-right: 0px;
						margin-left: 1px;
				}
		}


		input {
				background-color: transparent;
				border: none;
		}		
		.profs {
				div span.title {
						font-size: 14px;
				}
				div {
						font-size: 14px;
				}
		}
		.spell-detail {
				margin-top: 1em;
				.add-spell-group.round-button {
						position: absolute;
						display:none;
						right: 5px;
						top: 8px;
						border: solid 1px white;
				}
		}
		.spell-detail:hover {
				.add-spell-group.round-button {
						display: block;
				}
		}

		.spell-detail > .title:first-child {
				background-color: black;
				color: white;
				padding: 5px 40px;
				margin: 0.5em 0;
		}

		.spell-detail > .title:after {
				width: 50px;
				height: 50px;
				position: absolute;
				top: 0;
				left: 0;
				content: "";
				background-image: url(/assets/images/charsheets/spellbook.png);
				background-size: 100% 100%;   
				left: -16px;   
				top: -6px;
		}
}

.spell-detail {
    display: block;
    position: relative;
    padding-bottom: 50px;
}

.spell-box {
		padding: 0.6em 3px;
		-webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    page-break-inside: avoid;
}
.spell {
    position: relative;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    page-break-inside: avoid;
    border: solid 1px black;
}

.spell-detail .spell-wrap {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
}

.spell > *:first-child {
    font-size: 1.5em;
    width: 100%;
    padding: 0.1em 0.3em;
    background-color: black;
    color: white;
    padding-bottom: 0.5em;
    margin-bottom: 0.3em !important;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
}

.spell > *:first-child:after {
    content: "";
}

.spell-level {
    display: none;
}

.origin {
    display: none;
}

.school > *:first-child {
    display: none;
}

.school {
    color: white;
    padding: 0.1em 0.5em;
    top: 2em;
    position: absolute;
    font-size: 12px !important;
    font-style: italic;
}

.spell:nth-child(3) {
    margin-top: 0;
}

.spell > *:first-child {
    margin: 0;
}

.spell > div > *:first-child {
    margin: 0;
    float: left;
    margin-right: 0.3em;
    font-size: 14px;
		font-weight: bold; 
}

.spell > div > *:first-child:after {
    content: ": ";
}
.spell > * {
    padding: 0 0.5em;
		clear: both;
}

.spell .descr {
    margin-bottom: 0.3em;
		position:relative;

		span:first-child {
				display:block;
				float: none;
		}
}
.spell-detail .spell-group > *:first-child {
    font-size: 25px;
		padding: 8px;
    display:block;
    float:none !important;
    column-span: all;
    -webkit-column-span: all;
    -moz-column-span: all;
}
.spell:nth-child(3) > *:first-child {
    margin-top: 0px;
}

.spell div > .editbutton {
		position:absolute;
		left: auto;
		right: 0px;
}
.spell div > .editbutton:after {
		width: 16px;
		height: 16px;
		top:0px;
}

.spell-detail {

		.spell-controls {
				position: absolute;
				top: 8px;
				right: 5px;
				color: white;
				display: none;
				padding: 0;
				.round-button {
						border: solid 1px white;
				}
				*:first-child:after {
						content: "" !important;
				}
		}

		.spell:hover .spell-controls {
				display:block;
		}

		.spell-group .spell-group-controls {
				display: none;
				position: absolute;
				top: 8px;
				right: 0px;
		}

		.spell-group:hover .spell-group-controls {
				display: inline-block;
		}

		.spell-group-controls > *:hover {
				background-color: $darkhighlight;
		}
		.spell-group-controls .add-spell {
				padding-left: 1px;
		}

		.spell-group {
				position: relative;
		}

		.add-spell-group:hover {
				background-color: $darkhighlight;
		}
		.spell {
				.editbutton {
						left: 5.5em;
						position: absolute;
						margin-right: 0;
						right: auto;
						width: 20px;
						height: 20px;
						top: 0px;
				}
				.editbutton:after {
						margin: 0;
				}
		}

}
.spell-detail:hover .add-spell-group {
		display: inline-block;
		text-align: center;
}

.character:hover .controls {
		display:block;
}
.login, .register {
		margin: 0 auto;
		text-align:center;

		.invalid {
				color: red;
		}
		input {
				width: 200px;
				text-align:left;
		}
		span {
				width: 200px;
				display: inline-block;
				text-align:left;
		}

		> div {
				margin: 5px;
		}
}

.characters {
		table {
		    width:  100%;
    		text-align: left;
				margin: 1em 0;					
		}
}

/* .ember-modal-dialog { */
/*   position: fixed; */
/*   background-color: white; */
/*   color: black; */
/*   overflow: hidden; */
/*   z-index: 1000000; */
/*   width: 960px; */
/*   padding: 10px; */
/*   box-shadow: black 5px 5px 10px; */
/* } */

/* .ember-modal-wrapper { */
/*   position: absolute; */
/*   top: 0; */
/*   left: 0; */
/*   right: 0; */
/*   bottom: 0; */
/* } */

/* .ember-modal-overlay { */
/*     z-index: 999999; */
/*     position: fixed; */
/*     top: 0; */
/*     left: 0; */
/* 		right: 0; */
/* 		bottom: 0; */
/*     background-color: rgba(0,0,0,0.1); */
/* } */

.spell-select {

    padding-top: 50px;
		span.title {
				background-color: black;
				color: white;
				position: absolute;
				top: 0;
				left: 0;
				padding: 10px 20px;
				right: 0;
				display: block;
				font-size: 20px;
				margin-bottom: 0.5em;
				font-weight: bold;
		}
		ul.results {
				min-height: 40px;
				max-height: 150px;
				overflow-y: scroll;
				border: solid 1px gray;
		}

		span.label {
				width: 20%;
				display: inline-block;
		}
		.search input {
				width: 60%;
		}
		.search, .options {
				position: relative;
		}

		input {
				position: absolute;
				margin: 0;
				right: 0px;
		}

		input[type="checkbox"] {
				height: 16px;
				width: 16px;
				margin-top: 6px;
		}

		.buttons > div {
				display: inline-block;
				margin: 0.5em;
				padding: 10px;
				border: solid 1px gray;
				color: white;
				background-color: black;
				border-radius: 4px;
				width: 150px;
				text-align: center;
				font-family: arial;
				box-shadow: black 3px 3px 5px;
				cursor: hand;
				cursor: pointer;
		}

		.buttons {
				text-align: center;
		}

}

.header {
		position: fixed;
    top: 0;
    left: 0;
		right: 0px;
    z-index: 1000000000000;
    margin-top: -55px;
		overflow:hidden;
		-webkit-transition: margin-top 1s;
		-o-transition: margin-top 1s;
		-moz-transition: margin-top 1s;
		transition: margin-top 1s;


		.title {
				font-family: 'Cinzel Decorative', cursive;
				font-weight: bold;
				font-size: 30px;
				line-height: 40px;
		}
		.header-content {
				background-color: black;
				color: white;
				text-align: center;
				height: 40px;
				overflow: hidden;
				box-shadow: #444 0px 5px 10px;
		}

		.header-wrap > * {
				display: inline-block;
		}

		.header-waiter {
				height: 30px;
		}

		.toggle .icon:after {
				content: "\f070";
		}
		.functional > *, #buttons .button {
				display: inline-block;
				padding: 4px 10px;
				margin: 5px 2px;
				border: solid 2px white;
				border-radius: 7px;
				cursor: hand;
				cursor: pointer;
				min-width: 90px;
				font-size: 15px;

				span:first-child {
						padding-right: 6px;
				}
		}
		#buttons {
				a.downloadlocation, input.uploadInput {
						display: none;
				}
		}

		.header-wrap {
				width: 960px;
				margin: 0 auto;
				position: relative;

				#buttons {
						position: absolute;
						left: 0px;
				}
		}

		.functional {
				right: 0px;
				position: absolute;
		}

		.functional > *:hover, #buttons .button:hover {
				background-color: $darkhighlight;
		}
}

.header:hover, .header.show {
		margin: 0px;
}
.header.hide {
		display:none;
}
.header.show {
		.toggle .icon:after {
				content: "\f06e";
		}

}

.login, .register {
    top: 130px;
    padding: 20px;
		border:solid black 5px;
    border-radius: 10px;
    width: 500px;
		padding-bottom: 0px;
		position:relative;

		.label {
				font-family: 'Cinzel Decorative', cursive;
				font-style: italic;
				font-weight: bold;
				color: black;
				font-size: 20px;
		}

		input {
				font-family: Gentium Basic;
				border: none;
				outline: none;
				border-bottom: solid 1px black;
				font-size: 18px;
		}

		.invalid input {
				border-bottom-color: red;
		}

		.actions > *, .register, .buttons .button {
				display: inline-block;
				padding: 5px;
				margin: 5px 0;
				border: solid black 3px;
				border-radius: 7px;
				width: 100px;
				font-family: 'Gentium Basic', serif;
				font-weight: bold;
				cursor: hand;
				cursor: pointer;
		}

		.actions > *:hover, .register:hover, .buttons .button:hover {
				background-color: $lighthighlight;
		}

		.actions .or {
				border: none;
				font-weight: normal;
				padding: 0;
				width: 50px;
				cursor: default;
				background-color: transparent !important;
		}

		.actions {
				margin-top: 25px;
		}

}
.characters, .adventures {
		th {
				text-align: left;
		}

	  table {
				width: 100%;
				margin: 1em 0;
		}

		tr:hover td {
				background-color: $lighthighlight;
		}
		td {
				padding: 5px 0;
		}

		font-family: Gentium Basic;
		thead {
				font-family: 'Cinzel Decorative';
		}

		thead th {
				padding-bottom: 10px;
		}
		tbody tr {
				cursor: hand;
				cursor: pointer;
		}
		table th:last-child, table td:last-child {
				text-align: right;
		}
}

.emptymessage {
    margin: 1em 0;
}
.tbutton {
		display: inline-block;
		padding: 5px;
		margin: 5px 0;
		border: solid black 3px;
		border-radius: 7px;
		width: 130px;
		font-family: 'Gentium Basic', serif;
		font-weight: bold;
		cursor: hand;
		cursor: pointer;
		text-align: center;
}
.tbutton.warning:hover {
		background-color: pink;
}
.tbutton:hover {
		background-color: $lighthighlight;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
		z-index: 1000001;

		.message-wrap {
				width: 100%;
				cursor: pointer;
				cursor: hand;
				.message {
						width: 960px;
						margin: 0 auto;
						padding: 10px;
						text-align:center;
				}
		}
		.error {
				background-color:pink;
				border-top: solid 2px red;
		}
		.goodstuff {
				background-color:lightgreen;
				border-top: solid 2px darkgreen;
		}
		.warning {
				background-color:gold;
				border-top: solid 2px brown;
		}

		span.close-message {
				background-color: black;
				font-family: arial;
				width: 20px;
				height: 20px;
				line-height: 20px;
				display: inline-block;
				border-radius: 200px;
				color: white;
				font-size: 10px;
				font-weight: bold;
				text-align: center;
				top: -2px;
				position: relative;
				cursor: hand;
				cursor: pointer;
				margin-left: 1em;
		}

}

.admin {
		.player {
				padding: 10px 20px;
				padding-top: 0;
				border-top: solid;
				position:relative;

				.player-header {
						font-family: 'Cinzel Decorative', cursive;     
						font-weight: bold;
						font-size: 24px;
						color: white;
						background-color: black;
						display: block;
						padding: 5px 20px 0px 10px;
						margin-left: -20px;
						width: 930px;
						margin-bottom: 15px;
				}
				.field {
						position: absolute;
						top: 10px;
						right: 10px;
						color: white;
						font-family: 'Gentium Basic', serif;
						cursor: hand;
						cursor: pointer;
						font-size: 16px;
						font-weight: normal;
				}
				.actions span {
						width: 20px;
						height: 20px;
						font-style: italic;
						color: white;
						background-color: black;
						display: inline-block;
						text-align: center;
						line-height: 20px;
						border-radius: 100px;
						cursor: hand;
						cursor: pointer;
				}
				.actions > .unlink {
						top: 3px;
						position: relative;
						padding-right: 10px;
				}

		}

		.player:nth-child(2) {
				border-top: none;
		}
}


.register {
		.label {
				font-size: 18px;
		}
		.info {
				position: absolute;
				top: 12px;
				left: 516px;
				width: 250px;
		}

		span.info-icon {
				background-color: black;
				color: white;
				width: 20px;
				height: 20px;
				text-align: center;
				line-height: 20px;
				border-radius: 100px;
				font-style: italic;
				cursor: hand;
				cursor: pointer;
				display: block;
				float: left;
				border: solid 1px white;
				margin-left: -10px;
				margin-top: -10px;
		}

		.info-text {
				z-index: 1000;
				background-color: black;
				padding: 5px;
				border-radius: 5px;
				border: solid 1px #444;
				color: white;
				text-align: justify;
				font-size: 12px;
				font-style: italic;
				display:none;
		}

		.info-text.show {
				display:block;
		}

		.register {
				position:static;
		}
}

.link-character {
		.title {
				font-size: 20px;
				font-family: 'Cinzel Decorative', cursive;
				font-weight: bold;
				left: -10px;
				position: relative;
				top: -10px;
				width: 100%;
				background-color: black;
				color: white;
				display: block;
				padding: 10px;
		}
		.characters table {
				margin-top: 0;
		}
		.cancel {
				display: inline-block;
				padding: 5px;
				margin: 5px 0;
				border: solid black 3px;
				border-radius: 7px;
				width: 130px;
				font-family: 'Gentium Basic', serif;
				font-weight: bold;
				cursor: hand;
				cursor: pointer;
				text-align: center;
		}
		.cancel:hover {
				background-color: $lighthighlight;
		}

    padding: 0;
}
.free-block {
		.buttons {
				text-align: center;
				padding: 0;
				margin-top: -9px;
		}
		.button {
				display: inline-block;
				padding: 4px 10px;
				margin: 5px 2px;
				border: solid 3px black;
				text-transform: capitalize;
				font-style: italic;
				font-weight: bold;
				border-radius: 7px;
				cursor: hand;
				cursor: pointer;
				min-width: 90px;
				font-size: 15px;
		}
		.button:hover {
				background-color: $lighthighlight;
		}
}

.select-char-block {
    padding: 45px 10px 0 10px;
		.title {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				padding: 10px 20px !important;
				font-size: 20px;
				padding: 0.3em;
				font-weight: bold;
				color: white;
				background-color: black;
				margin-bottom: 0.3em;
		}

		select {
				margin-left: 0;
				background-color: white;
				padding: 5px;
				border: solid 2px black;
				border-radius: 7px;
				font-weight: bold;
				width: 300px;
				display: inline;
				outline: none;
				margin: 10px;
				margin-right: 20px;
				text-transform: capitalize;

				::selection {
						background-color: $lighthighlight;
				}
				::-moz-selection {
						background-color: $lighthighlight;
				}
				option {
						background-color: white;
				}
				option:hover {
						background-color: $lighthighlight;
				}
		}
		select:hover {
				background-color: $lighthighlight;
		}

		input {
				border: solid 1px black;
				border-width: 0 0  1px 0;
				width: 250px;
				outline: none;
		}
		input.invalid {
				border-color: red;
		}

		.info {
				font-style: italic;
				margin: 10px 0;
		}

		span.label {
				font-weight: bold;
				width: 40px;
				display: inline-block;
				margin-right: 10px;
		}

		span.label:after {
				content: ":";
		}

		.buttons .button {
				border: solid 2px black;
				border-radius: 7px;
				padding: 5px;
				display: inline-block;
				width: 150px;
				text-align: center;
				font-weight: bold;
				cursor: pointer;
				cursor: hand;
		}
		.button.disabled {
				background-color: white !important;
				opacity: 0.5;
		}
		.button:hover {
				background-color: $lighthighlight;
		}

		.buttons {
				text-align: center;
				margin-top: 10px;
		}
}

@media print {
		.header {
				display:none;
		}
    .wrapper {
				padding-top:10px;
		}
}
.main-menu {
		text-align: center;
		width: 680px;
		margin: 0 auto;
		> * {
				width: 250px;
				height: 130px;
				display: inline-block;
				position: relative;
				border: solid 3px black;
				border-radius: 25px;
				padding: 10px;
				margin: 20px;
				cursor: hand;
				cursor: pointer;
				color: black;
				text-decoration: none;
		}
		> *:hover {
				background-color: $lighthighlight;
		}

		> * i.fa {
				display: block;
				font-size: 90px;
				text-align: center;
				margin: 10px 0;
		}

		> * span {
				font-size: 20px;
				text-align: center;
				display: block;
				font-weight: bold;
				margin-top: -4px;
		}
}

.adventure {
		.name {
				font-size: 1.5em;
				font-family: 'Cinzel Decorative', cursive;     
				font-weight: bold;
				margin: 1em 0;
		}
		.meta {
				/* border: solid 1px #999; */
				border-radius: 5px;
				padding: 10px;
				/* width: 250px; */
				position: absolute;
				top: 50px;
				right: 0px; 
				font-size: 12px;
				color: #666;
				font-style: italic;
		}
		td {
				position: relative;
				.round-button {
						display:none;
						position: absolute;
						top: 3px;
						right: 3px;
						border: solid 2px white;
						width: 19px;
						height: 19px;
						line-height: 19px;
						font-size: 14px;
				}
		}
		td:hover .round-button {
				display: block;
		}
		span.tagname {
				border: solid 3px white;
				display: block;
				margin: 3px;
				padding: 3px;
				border-radius: 5px;
				border-top-right-radius: 100px;
				border-bottom-right-radius: 100px;
				color: white;
				background-color: black;
				cursor: row-resize;
				text-align: left;
		}

		span.tagname.selected {
				background-color: $darkhighlight;
		}

		table.comparison {
				background-color: black;
				font-size: 10px;
		}

		span.value {
				display: inline-block;
				margin: 3px;
				background-color: white;
				padding: 3px;
				width: 92%;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				min-height: 90%;
				vertical-align: middle;
				overflow: hidden;
				text-overflow: ellipsis;
		}

		td {
				text-align: center;
				border: solid 3px black;
				background-color: white;
				input {
						width: 100%;
						height: 100%;
						overflow: hidden;
						text-overflow: ellipsis;
						outline: none;
						text-align: center;
						font-size: 10px;
				}
		}

		td:first-child {
				background-color: black;
				border: none;
		}

		th, td {
				width: 50px;
				text-overflow: ellipsis;
				overflow: hidden;
				max-width: 50px;
		}
		th:first-child, td:first-child {
				max-width: 100px;
				width: 100px;
		}

		th {
				vertical-align: bottom;
				text-align: center;
				color: white;
				padding: 10px 0;
				position: relative;
				.round-button:nth-child(2) {
						right: auto;
						left: 3px;
				}
				.round-button {
						display: none;
						position: absolute;
						top: 2px;
						right: 3px;
						border: solid 2px white;
						width: 20px;
						height: 20px;
						line-height: 20px;
						font-size: 14px;
				}
		}
		th:hover .round-button {
				display: block;
		}

		.description .title {
				display: none;
		}

		.description > div, .dmNotes > div {
				min-height: 30px;
		}

		textarea {
				width: 100%;
				margin: 30px 0;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
		}

		.dmNotes .title {
				font-size: 1.2em;   font-family: 'Cinzel Decorative', cursive;   
				margin: 1em 0;
				display: block;
		}

		.content {
				width: 900px;
		}

		.players {
				position: absolute;
				top: 70px;
				right: 10px;
				margin: 20px 0;
		}
		.drawer {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				width: 40px;
				background-color: black;
				border: solid 3px black;
				border-top-left-radius: 15px;
				border-bottom-left-radius: 15px;
				color: white;
				cursor: col-resize;
		}

		.playerList {
				margin-left: 45px;
				max-width: 0px;
				overflow: hidden;
				-webkit-transition: max-width 1s;
				-o-transition: max-width 1s;
				-moz-transition: max-width 1s;
				transition: max-width 1s;

		}
		.players.open .playerList {
				max-width: 1000px;
		}

		.drawer span {
				transform: rotate(-90deg) translate(50%);
				-webkit-transform: rotate(-90deg);
				-moz-transform: rotate(-90deg);
				font-family: 'Cinzel Decorative', cursive;
				font-weight: bold;
				display: block;
				top: 50%;
				position: absolute;
				transform-origin: 0 50%;
				-webkit-transform-origin: 0 50%;
				-moz-transform-origin: 0 50%;
				margin-left: 55%;
				margin-top: 50%;
		}

		.addPlayer {
				top: 7px;
				left: 8px;
				border: solid 1px white;
				display: none;
		}

		.addPlayer:hover {
				background-color: $darkhighlight;
		}
		.drawer:hover .addPlayer {
				display: inline-block;
		}
		.emptymessage {
				display: block;
				background-color: black;
				color: white;
				margin: 0;
				padding: 1em;
				height: 250px;
				line-height: 250px;
		}
}

@media (max-width:960px) { 
		.header{
				display: none;
		}
		.open-button {
				display: block;
		}
		.header .toggle {
				display: none;
		}
		.wrapper {
				width: 100%;
				overflow: hidden;
				padding: 10px;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				padding-top: 60px;
		}
		.login, .register {
				width: 70%;
				.actions > * {
						display: block;
						text-align: center;
						margin: 10px auto;
				}

				.actions {
						text-align: center;
				}
		}
		.main-menu {
				width: 100%;
		}
		.home.admin {
				.player-header {
						width: 100%;
						box-sizing: border=box;
				}

				.player {
						border: none !important;
				}

				.admin .player .player-header {
						width: 100%;
						position: relative;
						box-sizing: border-box;
						-moz-box-sizing: border-box;
						margin: 0;
				}
				.player .field {
						right: 20px;
				}

				.characters {
						width: 100%;
						font-size: 12px;
				}

				.characters th {
						font-size: 10px;
				}
		}
		.character {
				.level {
						position: relative;
						font-size: 14px;
						height: auto;
						left: 0;
						top: 0;
						line-height: normal;
						width: auto;
						text-align: left;
				}

				.level > * {
						top: 0;
						left: 0;
				}

				.level > *:before {
						content: "Level: ";
				}
				.name {
						width: 100%;
						background-image: none;
						margin: 0;
						height: auto;
				}

				.image {
						position: relative;
						width: 100%;
						margin: 10px 0;
						top: 0;
						height: auto;
						.figure {
								position: relative !important;
								top: auto;
								left: auto;
								right: auto;
								bottom: auto;
						}
				}

			  .name > * {
						left: 0;
						top: 0;
				}
				.class {
						margin-bottom: 0;
				}
				.stats {
						width: 100%;
				}
				.defenses, .initiative {
						width: 40%;
						left: 5%;
						right: auto;
				}

				.life, .perception {
						width: 40%;
						right: 5%;
				}
				.perception, .initiative {
						top: 5px;
				}
				.char-kpis {
						.lifedefenses, .percinit {
								position: relative;
						}
						.defenses, .initiative {
								position: relative;
						}
				}
				.abilities table tr > * {
						width: 13.6%;
						box-sizing: border-box;
				}

				.abilities table tr:nth-child(3) td {
						width: 13.6%;
						margin: 5px;
				}
				.left-side, .right-side {
						padding-left: 10px;
						width: 100% !important;
						box-sizing: border-box;
						display: block;
						right: auto;
				}
				.right-side > div * > .title {
						text-align: left;
						padding-right: 5px;
						padding-left: 50px !important;
				}
				.right-side > div .title:after {
						left: -20px !important;
						right: auto !important;
				}
				.attacks table {
						font-size: 12px;
				}
				.spells > .title {
						margin-left: 10px !important;
				}

				.spells > .title:after {
						left: -6px;
				}
				.spell-detail .spell-wrap {
						column-count: 1;
						-webkit-column-count: 1;
						-moz-column-count: 1;
				}
		}
		/* .ember-modal-dialog { */
		/* 		position: relative; */
		/* 		width: 350px; */
		/* } */
		/* .ember-modal-wrapper { */
		/* 		width: 100%; */
		/* 		position: relative; */
		/* } */
		/* .ember-modal-overlay { */
		/* 		position: absolute; */
		/* } */
		/* .link-character .title { */
		/* 		width: 100%; */
		/* } */
}