<div class="main-menu">
	{{#link-to "chars"}}
		<div class="characters">
			<i class="fa fa-user"></i>
			<span>My Characters</span>
		</div>
	{{/link-to}}
	{{#link-to "chars"}}
		<div class="adventures">
			<i class="fa fa-map-signs"></i>
			<span>My Adventures</span>
		</div>
	{{/link-to}}
	{{#link-to "settings"}}
		<div class="user-settings">
			<i class="fa fa-cog"></i>
			<span>My Settings</span>
		</div>
	{{/link-to}}
	{{#if model.isAdmin}}
		{{#link-to "players"}}
			<div class="Players">
				<i class="fa fa-th-list"></i>
				<span>All Players</span>
			</div>
		{{/link-to}}
	{{/if}}
</div>
{{outlet}}
